In [32]:
pip install pyxlsb

Requirement already satisfied: pyxlsb in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.0.6)
Note: you may need to restart the kernel to use updated packages.

In [33]:

import pandas as pd
from pyxlsb import open_workbook as open_xlsb

df = []

with open_xlsb('try.xlsb') as wb:
    with wb.get_sheet(1) as sheet:
        for row in sheet.rows():
            df.append([item.v for item in row])

df = pd.DataFrame(df[1:], columns=df[0])
df.head()

         Store Name         City      POS
0  RRGHANSOLIMUMBAI  NAVI MUMBAI  60933.0
1  RRGHANSOLIMUMBAI  NAVI MUMBAI  60933.0
2  RRGHANSOLIMUMBAI  NAVI MUMBAI  60933.0
3  RRGHANSOLIMUMBAI  NAVI MUMBAI  60933.0
4  RRGHANSOLIMUMBAI  NAVI MUMBAI  60933.0

In [34]:
df['POS']=df['POS'].apply(int)
df.drop_duplicates(keep='first',inplace=True)
df.head()

                         Store Name         City    POS
0                  RRGHANSOLIMUMBAI  NAVI MUMBAI  60933
18              RRGoyal PlazaMumbai       MUMBAI  66757
55   RDKailash PlazaGhatkoparMumbai       MUMBAI  66770
121            RDKARAMPURANEW DELHI        Delhi  66893
142        RMHimalaya MallBHAVNAGAR    BHAVNAGAR  66963

In [35]:
df.shape

(1684, 3)

In [36]:
df['POS']=df['POS'].apply(str)

In [37]:
df.head()

                         Store Name         City    POS
0                  RRGHANSOLIMUMBAI  NAVI MUMBAI  60933
18              RRGoyal PlazaMumbai       MUMBAI  66757
55   RDKailash PlazaGhatkoparMumbai       MUMBAI  66770
121            RDKARAMPURANEW DELHI        Delhi  66893
142        RMHimalaya MallBHAVNAGAR    BHAVNAGAR  66963

In [38]:
gf = df.groupby('Store Name').agg({'City':'first', 
                             'POS': ', '.join }).reset_index()
gf

                                    Store Name          City             POS
0                        3543 DIGITAL PALITANA      PALITANA          189305
1                           3570 MINI DX DELHI         Delhi          156024
2                               3585 RD BUDAUN        Budaun          277024
3                         3587 MINI DX KARAULI        KAROLI          255246
4                3604 MINI DX MEDINIPUR CONTAI        CONTAI          160994
5                          3609 DIGITAL TANDUR        TANDUR          187998
6                         3616 DIGITAL MADURAI       MADURAI          176303
7              3638 MINI DX KACHARI ROAD KATWA         KATWA          162239
8        3649 MINI DX YADAVPURA ROAD GOPALGANJ     GOPALGANJ          157904
9                           3652 DIGITAL BERMO         BERMO          190928
10                    3656 MINI DX JHARSUNGUDA    JHARSUGUDA          189480
11                        3660 MINI DX COONOOR       COONOOR          171066
12                                3681 MINI DX         HARDA          292267
13                                3688 MINI DX       KOLKATA          299347
14                         3697 DIGITAL KOLLAM        KOLLAM          191358
15                 3699 MINI DX WEST KOZHIKODE       CALICUT          169466
16                                3701 DIGITAL         MALDA          254523
17                                3703 DIGITAL        RANCHI          212737
18                       3710 R D SHAHJAHANPUR  Shahjahanpur          243137
19                                3732 DIGITAL  BULANDSHAHAR          231032
20              3737 MINI DX GURUVAYOOR COCHIN        COCHIN          165578
21            3742 MINI DX BABUNIYA ROAD SIWAN         SIWAN          157819
22                 3764 DIGITAL UDUMALAIPETTAI     UDUMALPET          191239
23           3765 MINI DX MULLICK ROAD KOLKATA       KOLKATA          161108
24                                3772 DIGITAL    DARJEELING          190927
25             3789 DIGITAL TRIPUNITHURA KOCHI        COCHIN          170901
26                                3793 DIGITAL    SHIKOHABAD          420364
27             3798 MINI DX TALUK TIRUCHENGODE  TIRUCHENGODU          161589
28                          3805 DIGITAL SOLAN         SOLAN          190989
29                       3806 DIGITAL NABADWIP       NALHATI          191086
...                                        ...           ...             ...
1594           RRRajarajeshwari NagarBangalore     BANGALORE           67201
1595                          Reliance Digital        HOWRAH           70237
1596    Reliance Digital 7610 Mira Road Mumbai         THANE           77760
1597  Reliance Digital 7712Govinda Bhubaneswar  BHUBANESHWAR           81790
1598      Reliance Digital Anjanadri Bangalore     BANGALORE           92717
1599  Reliance Digital Banjara Hills Hyderabad     HYDERABAD          463909
1600            Reliance Digital Bibewadi Pune          PUNE           72117
1601  Reliance Digital Chittilapakkam JnTambar       CHENNAI           73998
1602                Reliance Digital HYDERABAD     HYDERABAD           70785
1603       Reliance Digital Hazratganj Lucknow       LUCKNOW           92970
1604                  Reliance Digital KOLKATA       KOLKATA           69268
1605                Reliance Digital Karnataka     BANGALORE           69567
1606    Reliance Digital Linton Street Kolkata       KOLKATA           71032
1607  Reliance Digital NSR Road Sai Coimbatore    COIMBATORE           80814
1608       Reliance Digital Nehru Road Kolkata       KOLKATA          104002
1609                   Reliance Digital ROHINI         Delhi           69740
1610          Reliance Digital Raj Nagar Delhi         Delhi           72348
1611  Reliance Digital Shahid Ngr Bhubaneshwar  BHUBANESHWAR           81784
1612                Reliance Digital TAMILNADU       CHENNAI           69970
1613     Reliance Digital new Kondli NEW DELHI         Delhi           70326
1614                     Reliance Mini DX Pune          PUNE           75932
1615                               T529 Trends        RANCHI  308142, 308144
1616                            T621 TECH PARK       GURGAON          301129
1617                                   T730RRL     BANGALORE          356495
1618                           T765RRL DIGITAL       CHENNAI  389183, 468824
1619                              TB84 DIGITAL   NAVI MUMBAI  404807, 404806
1620                     TE52 RELIANCE DIGITAL     KANHANGAD          436664
1621                             TK86 KONDAPUR     HYDERABAD          450466
1622                      TO58RELIANCE DIGITAL       CUTTACK          513824
1623                      TU49RELIANCE DIGITAL     HYDERABAD          513937

[1624 rows x 3 columns]

In [40]:
gf.to_csv('consolidated_2_csv')